<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <!-- INCLUDESCRIPT BLOCK : common_link.php -->
    <link rel="stylesheet" href="css/index.css" />

    <script>
      const footerData = {
        title: { en: `{footer_title_en}`, ch: `{footer_title}` },
        tel: { title: '{footer_tel_title}', content: '{footer_tel}' },
        add: { title: '{footer_add_title}', content: '{footer_add}' },
        businessHours: { title: '{footer_time_title}', content: '{footer_time}' }
      };

      const s1Data = {
        title: `{s1data_title_en}`,
        swiper: [
          <!-- START BLOCK : banner -->
          {
            subtitle: `{subtitle}`,
            img: '{img}',
            imgMbl: '{imgMbl}'
          },
          <!-- END BLOCK : banner -->
        ],
        video:{
          active: true,
          src: 'video/video.mp4'
        }
      };

      const s2Data = {
        row1: {
          title: { en: `{s21data_title_en}`, ch: `{s21data_title_ch}` },
          swiper: [
            <!-- START BLOCK : s21data_img -->
            '{img}',
            <!-- END BLOCK : s21data_img -->
          ],
          intro: {
            title: `{s21data_intro_title}`,
            content: `{s21data_intro_content}`
          }
        },
        row2: {
          title: { en: `{s22data_title_en}`, ch: `{s22data_title_ch}` },
          menus: [
            <!-- START BLOCK : menus -->
            {
              name: '{name}',
              imgs: [
                <!-- START BLOCK : menus_imgs -->
                '{img}',
                <!-- END BLOCK : menus_imgs -->
              ],
              menu: [
                <!-- START BLOCK : tag -->
                {
                  tag: '{name}',
                  items: [
                    <!-- START BLOCK : items -->
                    {
                      img: '{img}',
                      name: `{name}`,
                      note: `{note}`,
                      price: `{price}`
                    },
                    <!-- END BLOCK : items -->
                  ]
                },
                <!-- END BLOCK : tag -->
              ]
            },
            <!-- END BLOCK : menus -->
          ]
        },
        row3: {
          title: { en: `{s23data_title_en}`, ch: `{s23data_title_ch}` },
          popupNote: {
            title: '{s23data_popupNote}',
            note: `{s23data_popupNotenote}`,
            priceNote: `以上不含10%服務費`
          },
          swiper: [
            <!-- START BLOCK : meals -->
            {
              nameImg: '{nameImg}',
              name: '{name}',
              type: `{type}`,
              price: '{price}',
              imgs: [
                <!-- START BLOCK : meals_imgs -->
                '{img}',
                <!-- END BLOCK : meals_imgs -->
              ],
              broth: {
                title: '{broth}',
                items: [`{broth_items1}`, `{broth_items2}`, `{broth_items3}`]
              },
              otherDishes: [
                <!-- START BLOCK : otherDishes -->
                {
                  title: '{title}',
                  items: [
                    <!-- START BLOCK : otherDishesDetail -->
                    `{name}`,
                    <!-- END BLOCK : otherDishesDetail -->
                  ],
                  chooseNum: '{chooseNum}'
                },
                <!-- END BLOCK : otherDishes -->
              ]
            },
            <!-- END BLOCK : meals -->
          ]
        }
      };

      const s3Data = {
        title: { en: `{s3data_title_en}`, ch: `{s3data_title_ch}` },
        swiper: [
          <!-- START BLOCK : s3data_img -->
          '{img}',
          <!-- END BLOCK : s3data_img -->
        ],
        video:{
          active: true,
          src: 'video/video.mp4'
        }
      };

      const s4Data = {
        title: { en: `{s4data_title_en}`, ch: `{s4data_title_ch}` },
        swiper: [
          <!-- START BLOCK : s4data_img -->
          {
            img: '{img}',
            title: `{title}`,
            content: `{content}`
          },
          <!-- END BLOCK : s4data_img -->
        ]
      };

      const s5Data = {
        title: { en: `{s5data_title_en}`, ch: `{s5data_title_ch}` },
        news: [
          <!-- START BLOCK : news -->
          {
            date: '{date}',
            img: '{img}',
            title: `{title}`,
            subtitle: `{subtitle}`,
            content: `{content}`,
            latestTag: {latestTag}
          },
          <!-- END BLOCK : news -->
        ]
      };
    </script>
  </head>

  <body>
    <main id="mainContainer" class="main-container">
      <div class="main-container__bg main-container__bg-1">
        <img class="lazyload" data-src="images/main-bg.png" alt="" />
      </div>
      <!-- INCLUDESCRIPT BLOCK : common_header.php -->

      <!-- s1 -->
      <section class="section1">
        <div class="video-wrapper">
          <video
            :class="['section1__video', {'d-n': !s1Data.video.active || windowSize === 'mbl'}]"
            loop
            muted
            autoplay
          >
            <source :src="s1Data.video.src" type="video/mp4" />
            Your browser does not support the video tag.
          </video>

          <p
            class="subtitle fw-200 fz-18-vw fz-mbl-14 lh-21 lh-mbl-14 ls-50 ls-mbl-40 c-fff ta-justify"
            v-html="s1Data.swiper[0].subtitle"
          ></p>
        </div>

        <!-- Slider main container -->
        <div :class="['swiper-container s1__swiper-container', {'d-n': s1Data.video.active && windowSize === 'dsk'}]">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper s1__swiper-wrapper">
            <!-- Slides -->
            <div v-for="data in s1Data.swiper" class="swiper-slide s1__swiper-slide">
              <div class="bg">
                <img class="swiper-lazy dsk" :data-src="data.img" alt="" />
                <img class="swiper-lazy mbl" :data-src="data.imgMbl" alt="" />
              </div>

              <p
                class="subtitle fw-200 fz-18-vw fz-mbl-14 lh-21 lh-mbl-14 ls-50 ls-mbl-40 c-fff ta-justify"
                v-html="data.subtitle"
              ></p>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination s1__swiper-pagination"></div>
        </div>

        <h2 class="section1__title fz-80-vw fz-mbl-28-vw lh-11 c-p-1" v-html="s1Data.title"></h2>

        <div id="scrollDownBtn" class="scroll-down dsk" @click="scrollToNext">
          <div class="inner"></div>
        </div>
      </section>

      <!-- s2 -->
      <div id="scrollDownAnchor"></div>
      <div id="storyAnchor"></div>

      <section class="section2">
        <div class="bg-decoration bg-decoration-1 dsk">
          <div class="img">
            <img class="lazyload" data-src="images/s2-flower-1.png" alt="" />
          </div>
        </div>

        <!-- row-1 -->
        <div class="section2__row-1">
          <div class="col col-left">
            <!-- Slider main container -->
            <div class="swiper-container s2-1__swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper s2-1__swiper-wrapper">
                <!-- Slides -->
                <div v-for="data in s2Data.row1.swiper" class="swiper-slide s2-1__swiper-slide">
                  <div class="img">
                    <div class="img-inner">
                      <img class="swiper-lazy" :data-src="data" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination s2-1__swiper-pagination"></div>
            </div>
          </div>

          <div class="col col-right">
            <h2 class="main-title-wrapper bc-p-1">
              <div class="title-group">
                <div
                  class="title-en fz-42 fz-mbl-24 lh-12 ls-20 ls-mbl-10 c-fff custom-underline"
                  v-html="s2Data.row1.title.en"
                ></div>
                <div class="title-ch fz-22 fz-mbl-16 c-fff ls-140 ls-mbl-100" v-html="s2Data.row1.title.ch"></div>
              </div>
            </h2>

            <div class="intro-wrapper">
              <h3
                class="title fw-700 fz-30 fz-mbl-16 lh-17 lh-mbl-16 ls-20 ls-mbl-15"
                v-html="s2Data.row1.intro.title"
              ></h3>
              <p
                class="content fz-18 fz-mbl-14 lh-21 lh-mbl-14 ls-25 ls-mbl-40 c-g-2 ta-justify"
                v-html="s2Data.row1.intro.content"
              ></p>
            </div>
          </div>
        </div>

        <!-- row-2 -->
        <div id="menuAnchor"></div>

        <div class="section2__row-2">
          <div class="bg-decoration bg-decoration-2">
            <div class="img">
              <img class="lazyload" data-src="images/s2-flower-2.png" alt="" />
            </div>
          </div>

          <!-- ===== dsk ===== -->
          <div class="img-wrapper dsk">
            <template v-for="(img, index) in s2Data.row2.menus">
              <div :class="['img', {active: s2row2ImgIndex === index}]" @click="showPopup('menu')">
                <div class="img-inner">
                  <img class="lazyload" :data-src="img.imgs[0]" alt="" />
                </div>
              </div>
            </template>
          </div>

          <div class="title-wrapper dsk bc-g-3">
            <div class="title-wrapper-inner">
              <h2 class="title-group">
                <div class="title-en fz-42 lh-12 ls-20 c-fff custom-underline" v-html="s2Data.row2.title.en"></div>
                <div class="title-ch fz-22 c-fff ls-140" v-html="s2Data.row2.title.ch"></div>
              </h2>

              <div class="js-scrollbar menu-name-group">
                <div
                  v-for="(name, index) in s2Data.row2.menus"
                  class="menu-name fz-20 ls-30"
                  @mouseenter="hoverChangeImg(index)"
                  @click="showPopup('menu')"
                >
                  <p v-html="name.name"></p>
                </div>
              </div>
            </div>
          </div>
          <!-- ===== dsk ===== -->

          <!-- ===== mbl ===== -->
          <h2 class="title-group mbl">
            <div
              class="title-en fz-42 fz-mbl-24 lh-12 ls-20 ls-mbl-10 c-fff custom-underline"
              v-html="s2Data.row2.title.en"
            ></div>
            <div class="title-ch fz-22 fz-mbl-16 c-fff ls-140 ls-mbl-100" v-html="s2Data.row2.title.ch"></div>
          </h2>
          <!-- Slider main container -->
          <div class="swiper-container s2-2__swiper-container mbl">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper s2-2__swiper-wrapper">
              <!-- Slides -->
              <div
                v-for="(menu, index) in s2Data.row2.menus"
                class="swiper-slide s2-2__swiper-slide"
                @click="showPopup('menu')"
              >
                <div class="img">
                  <div class="img-inner">
                    <img class="swiper-lazy" :data-src="menu.imgs[0]" alt="" />
                  </div>
                </div>

                <p class="menu-name fz-mbl-14 ls-20" v-html="menu.name"></p>
              </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="s2-2__swiper-button-group bc-g-3">
              <div class="swiper-button-prev s2-2__swiper-button s2-2__swiper-button-prev"></div>
              <div class="swiper-button-next s2-2__swiper-button s2-2__swiper-button-next"></div>
            </div>
          </div>
          <!-- ===== mbl ===== -->
        </div>

        <!-- row-3 -->
        <div id="setAnchor"></div>

        <div class="section2__row-3">
          <h2 class="title-wrapper">
            <div
              class="title-en fz-42 fz-mbl-24 lh-12 ls-20 ls-10 custom-underline"
              v-html="s2Data.row3.title.en"
            ></div>
            <div class="title-ch fz-22 fz-mbl-16 ls-140 ls-mbl-100" v-html="s2Data.row3.title.ch"></div>
          </h2>

          <div class="s2-3__swiper-outer">
            <!-- Slider main container -->
            <div class="swiper-container s2-3__swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper s2-3__swiper-wrapper">
                <!-- Slides -->
                <div v-for="(set, index) in s2Data.row3.swiper" class="swiper-slide s2-3__swiper-slide">
                  <div
                    :class="['set-item', {active: s2row3SwiperIndex === index}]"
                    @mouseenter="hoverChangeSet($event, index)"
                    @click="showPopup('set')"
                  >
                    <div class="group">
                      <div class="name-img">
                        <img class="swiper-lazy" :data-src="set.nameImg" alt="" />
                      </div>

                      <div class="type fz-20 fz-mbl-14 ls-15 ls-mbl-10"><% `{ ${ set.type } }` %></div>
                    </div>

                    <div class="price fz-32 fz-mbl-18 ls-15 ls-mbl-10 bc-fff"><% `NT.${ set.price }` %></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bg-block bc-g-3 mbl"></div>

            <!-- If we need navigation buttons -->
            <div class="s2-3__swiper-button-group">
              <div class="swiper-button-prev s2-3__swiper-button s2-3__swiper-button-prev"></div>
              <div class="line mbl"></div>
              <div class="swiper-button-next s2-3__swiper-button s2-3__swiper-button-next"></div>
              <!-- If we need pagination -->
              <div class="swiper-pagination s2-3__swiper-pagination mbl fz-mbl-14 ls-05 c-g-1"></div>
            </div>

            <div id="s2_3BorderDecoration" class="border-decoration">
              <div class="border border-tb"></div>
              <div class="border border-lr"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- s3 -->
      <div id="envAnchor"></div>

      <section class="section3">
        <div class="video-wrapper">
          <video
            :class="['section3__video', {'d-n': !s3Data.video.active || windowSize === 'mbl'}]"
            loop
            muted
            autoplay
          >
            <source :src="s3Data.video.src" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>

        <div :class="['s3__swiper-outer', {'d-n': s3Data.video.active && windowSize === 'dsk'}]">
          <!-- Slider main container -->
          <div class="swiper-container s3__swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper s3__swiper-wrapper">
              <!-- Slides -->
              <div v-for="(img, index) in s3Data.swiper" class="swiper-slide s3__swiper-slide">
                <div class="bg">
                  <img class="swiper-lazy" :data-src="img" alt="" />
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination s3__swiper-pagination dsk"></div>
          </div>

          <!-- If we need navigation buttons -->
          <div class="s3__swiper-button-group">
            <div class="swiper-button-prev s3__swiper-button s3__swiper-button-prev"></div>
            <div class="swiper-button-next s3__swiper-button s3__swiper-button-next"></div>
          </div>
        </div>

        <div class="title-wrapper">
          <div :class="['num-wrapper fz-124 fz-mbl-26 c-p-1', {'d-n': s3Data.video.active && windowSize === 'dsk'}]">
            <span>0</span>
            <div class="group">
              <div id="pageClock" class="group-inner">
                <span v-for="(data, index) in s3Data.swiper" class="num"><% index + 1 %></span>
              </div>
            </div>
          </div>

          <h2 class="title-group">
            <div
              class="title-en c-fff fz-42 fz-mbl-24 lh-12 ls-20 ls-mbl-10 custom-underline"
              v-html="s3Data.title.en"
            ></div>
            <div class="title-ch c-fff fz-22 fz-mbl-16 ls-140 ls-mbl-100" v-html="s3Data.title.ch"></div>
          </h2>
        </div>
      </section>

      <!-- s4 -->
      <div id="recommendAnchor"></div>

      <section class="section4">
        <h2 class="title-wrapper">
          <div class="title-en fz-42 fz-mbl-24 lh-12 ls-20 ls-mbl-10 custom-underline" v-html="s4Data.title.en"></div>
          <div class="title-ch fz-22 fz-mbl-16 ls-140 ls-mbl-100" v-html="s4Data.title.ch"></div>
        </h2>

        <div class="s4__swiper-outer">
          <!-- Slider main container -->
          <div class="swiper-container s4__swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper s4__swiper-wrapper">
              <!-- Slides -->
              <div v-for="data in s4Data.swiper" class="swiper-slide s4__swiper-slide">
                <div class="intro-item">
                  <div class="img">
                    <div class="img-inner">
                      <img class="swiper-lazy" :data-src="data.img" alt="" />
                    </div>
                  </div>

                  <div class="intro-wrapper">
                    <div class="group">
                      <div class="title fz-22 fz-mbl-14 ls-30 ls-mbl-20" v-html="data.title"></div>
                      <div class="content fz-18 fz-mbl-14 lh-21 lh-14 ls-25 ls-40 c-g-2" v-html="data.content"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev s4__swiper-button s4__swiper-button-prev">
              <p class="text fz-16 fz-mbl-12 ls-25 ls-mbl-15 c-fff">PREV</p>
            </div>
            <div class="swiper-button-next s4__swiper-button s4__swiper-button-next">
              <p class="text fz-16 fz-mbl-12 ls-25 ls-mbl-15 c-fff">NEXT</p>
            </div>
          </div>

          <div class="bg-decoration bg-decoration-3">
            <div class="img img-1">
              <img class="lazyload" data-src="images/fish-1-1.png" alt="" />
            </div>
            <div class="img img-2">
              <img class="lazyload" data-src="images/fish-1-2.png" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- s5 -->
      <div id="newsAnchor"></div>

      <section class="section5">
        <h2 class="title-wrapper">
          <div class="title-en fz-42 fz-mbl-24 lh-12 ls-20 ls-mbl-10 custom-underline" v-html="s5Data.title.en"></div>
          <div class="title-ch fz-22 fz-mbl-16 ls-140 ls-mbl-100" v-html="s5Data.title.ch"></div>
        </h2>

        <div class="news-wrapper swiper-container s5__swiper-container">
          <div class="news-row clearfix swiper-wrapper s5__swiper-wrapper">
            <div
              v-for="(item, index) in s5DataNewsSwitch"
              class="news-item swiper-slide s5__swiper-slide"
              @mouseenter="hoverChangeNewsIndex(index)"
            >
              <div class="news-item-inner" @click="showPopup('news')">
                <div class="img">
                  <div class="img-inner">
                    <img
                      :class="{lazyload: windowSize === 'dsk', 'swiper-lazy': windowSize === 'mbl'}"
                      :data-src="item.img"
                      alt=""
                    />
                  </div>

                  <div class="border-decoration">
                    <div class="border border-tb"></div>
                    <div class="border border-lr"></div>
                    <p class="text fz-14 ls-15 c-p-1">LEARN MORE</p>
                  </div>

                  <div v-if="item.latestTag" class="latest-tag fz-20-vw fz-mbl-14 ls-20 ls-mbl-15 fw-200 bc-p-1 c-fff">
                    最新ニュース
                  </div>
                </div>

                <div class="intro-wrapper">
                  <div class="group">
                    <p class="date fz-14 fz-mbl-12 ls-15 ls-mbl-10 c-p-1 fs-italic" v-html="item.date"></p>
                    <h3 class="title fz-22 fz-mbl-14 ls-45 ls-mbl-25" v-html="item.title"></h3>
                  </div>
                  <p
                    class="subtitle js-clamp fz-18 fz-mbl-14 lh-21 lh-mbl-14 ls-25 ls-mbl-40 c-g-2"
                    v-html="item.subtitle"
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination s5__swiper-pagination"></div>
      </section>

      <!-- menuPopup -->
      <popup-wrapper id="menuPopup" :menus="s2Data.row2.menus[s2row2ImgIndex]" class="menu-popup">
        <template v-slot:menu-body-slot="parentProps">
          <menu-body :data-from-parent="parentProps"></menu-body>
        </template>
      </popup-wrapper>

      <!-- setPopup -->
      <popup-wrapper id="setPopup" :menus="s2Data.row3.swiper[s2row3SwiperIndex]" class="set-popup">
        <template v-slot:set-body-slot="parentProps">
          <set-body :data-from-parent="parentProps" :popup-note="s2Data.row3.popupNote"></set-body>
        </template>
      </popup-wrapper>

      <!-- newsPopup -->
      <popup-wrapper id="newsPopup" :news="s5DataNewsSwitch[newsIndex]" class="news-popup">
        <template v-slot:news-body-slot="parentProps">
          <news-body :data-from-parent="parentProps"></news-body>
        </template>
      </popup-wrapper>

      <!-- footer -->
      <div id="contactAnchor"></div>
      <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
    </main>

    <!-- INCLUDESCRIPT BLOCK : common_script.php -->
    <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
    <!-- main -->
    <script src="js/index-babel.js"></script>
    <!-- lazysizes -->
    <script src="node_modules\lazysizes\lazysizes.min.js"></script>
  </body>
</html>
