// header
.common-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
  pointer-events: none;

  & > * {
    pointer-events: initial;
  }

  .logo {
    margin-top: vh-dsk(96);
    margin-left: vw-dsk(126);
  }

  .menu-toggle {
    position: absolute;
    top: vh-dsk(148);
    right: vw-dsk(126);
    margin-top: -20px;
    margin-right: -20px;
    padding: 20px;
    //
    z-index: 10;
    cursor: pointer;

    &__bar {
      width: 38px;
      height: 3px;
      //
      transition: 0.5s;

      & + .menu-toggle__bar {
        margin-top: 10px;
      }
    }
  }
}

// footer
.common-footer {
  margin-right: 10%;
  padding: 120px vw-dsk(120) 100px vw-dsk(190);

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .title-wrapper {
    margin-bottom: 160px;
  }

  .title-ch {
    margin-top: 20px;
  }

  .info {
    &-tel {
      margin-bottom: 10px;
    }

    &-tel,
    &-add {
      display: flex;
      max-width: 290px;

      .title {
        margin-right: 14px;
        flex-shrink: 0;
      }
    }

    &-open {
      position: absolute;
      top: 0;
      left: calc(290px + #{vw-dsk(30)});
      padding-left: vw-dsk(40);
      border-left: 1px solid rgba(#fff, 0.5);

      .title {
        margin-bottom: 10px;
      }
    }
  }

  .note {
    position: absolute;
    top: 0;
    left: calc(520px + #{vw-dsk(100)});

    .title {
      margin-bottom: 10px;
    }
  }

  .social-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;

    .icon-group {
      display: flex;
      margin-left: -12px;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;

      & + .icon {
        margin-left: 8px;
      }
    }
  }

  .copyright {
    color: rgba(#fff, 0.25);
    margin-top: 50px;
  }

  .go-top {
    @include go-top;
    position: absolute;
    right: 0;
    top: 288px;
    transform: translateX(calc(100% + 5vw - 50%));
  }
}

// menu-open
.common-header.nav-menu-open {
  .nav-menu {
    pointer-events: initial;

    &::before {
      transform: initial;
      transition: 0.5s;
    }
  }

  .nav-item-wrapper {
    transform: initial;
    opacity: 1;
    transition: 0.5s 0.3s;
  }

  .menu-toggle {
    &__bar {
      &:first-child {
        transform-origin: 100% 50%;
        transform: translateY(13px) rotate(-20deg);
      }

      &:nth-child(2) {
        transform-origin: 100% 50%;
        transform: rotate(-20deg);
      }
      &:nth-child(3) {
        transform-origin: 100% 50%;
        transform: rotate(20deg);
        box-shadow: 0 -2px 0 -1px rgba($c-g-3, 0.98);
      }
    }
  }
}
// menu
.nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  padding-top: vh-dsk(240);
  padding-left: vw-dsk(316);
  padding-right: vw-dsk(216);
  //
  pointer-events: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: calc(100% - #{vw-dsk(126)}) vh-dsk(148);
    transform: scale(0);
    background-color: rgba($c-g-3, 0.98);
    //
    transition: 0.5s 0.3s;
  }
}

.nav-item-wrapper {
  opacity: 0;
  //
  transform: translateX(-10px);
  transition: 0.5s;
}

.nav-item {
  padding: vh-dsk(30) 0;
  cursor: pointer;
  //
  transition: 0.5s;

  .icon {
    position: absolute;
    right: 106%;
    top: 50%;
    transform: translateY(-50%);
    //
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .title-en {
    transition: 0.5s;
  }

  .title-ch {
    position: absolute;
    bottom: 0;
    left: 0;
    //
    opacity: 0;
    transition: 0.5s;
  }

  @include hover {
    &:hover {
      transform: translateY(vh-dsk(-10));

      .title-en {
        color: $c-p-1;
      }
      .title-ch {
        opacity: 1;
      }

      .icon {
        opacity: 1;
      }
    }
  }
}

// common
.custom-underline {
  display: inline;
  border-width: 1px;
  border-style: none none solid none;
}

.dots-group {
  display: flex;

  .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #000;

    & + .dot {
      margin-left: 4px;
    }
  }
}

// vue
// .v-enter,
// .v-leave-to {
//   opacity: 0;
// }

// .v-enter-active,
// .v-leave-active {
//   transition: opacity 0.5s;
// }
